<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron text-center text-grey">
      <p class="display-6 text-black">Welcome to the your contacts admin.</p>
      <hr class="lead">
      <p>Don't count the days, make the days count...Go Head!</p>
      <%= link_to 'Enter', user_session_path, class: "btn3" %>
    </div>
  </div>
</div>

