<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy</small>
  </div>
  <div class="container text-center">
    
    <img class='coverindex' src='<%= asset_path 'mariacrespologo.png' %>' alt="cover">
  </a>
  </div>
</footer>
</div>
